<h1>Editing Article</h1>

<%= render 'form', article: @article %>

<div class="text-center"><%= link_to 'Show', @article, class:"btn btn-info mr-1" %> 
<%= link_to 'Back', articles_path, class:"btn btn-info" %></div>
