<h1 class="text-center m-2">New Article</h1>
<br>
<div class="container-fluid w-75"><%= render 'form', article: @article %></div>
<br>

<div class="text-center"><%= link_to 'Back', articles_path, class:'btn btn-info text-center' %></div>
